<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://haleymnatzaganian.getforge.io">Haley Mnatzaganian</a>. Splurty was created to share the joy and inspiration that comes from true, unconditional friendship.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'profile_pic.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Haley Mnatzaganian</h2>
    <br />
    <p>
    Haley is a web developer in the making who is learning from the awesome people at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. She loves learning new programming tools and techniques.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />